.home-module-root{
  /* height: 30vw; */
  background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.5), rgba(0,0,0,.3)), url('../assets/home_coke.jpg');
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size .5s !important;
  padding: 12vw 0;
  border-radius: 20px !important;
}

.home-module-root:hover{
  /* transform: scale(1.2); */
  background-size: 220%;
}

.home-module-title{
  font-size: 4vw !important;
  color: whitesmoke;
  text-shadow: 0 0 20px black;
}

.home-module-detail{
  font-size: 2vmin !important;
  text-shadow: 0 0 10px black;
  color: white;
  opacity: .8;
}
